@import "tailwindcss";

@theme {
  --color-brand: #9a25be;
  --font-display: "Inter", system-ui, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
